<!doctype html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/ico" href="favicon.png" />

    <!-- Open Graph / Telegram Preview -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://neginpedram.ir/" />
    <meta property="og:title" content="Negin Pedram – Wedding card" />
    <meta property="og:description" content="The wedding time" />
    <meta property="og:image" content="https://neginpedram.ir/banner.JPG" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comme:wght@100..900&family=Love+Light&family=Noto+Nastaliq+Urdu:wght@400..700&family=Updock&family=Vazirmatn:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
